.Pokecard {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  /* width: 250px; */
  height: 30vh;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.Pokecard-title {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.Pokecard-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height:50%;
  margin-bottom: 1.5rem;
}

.Pokecard-image img {
  margin: 1rem;
  height: 100%;
  opacity: 0.9;
  transition: all 0.4s ease;
}

.Pokecard-image img:hover {
  opacity: 1;
  scale: 1.25;
}

.Pokecard-data {
  font-size: 90%;
}
